<h1>Team <%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<% @team_members.each do |member| %>
<h3>Hero Name: <%= member["name"] %></h3>
<p>Hero Power: <%= member["power"] %></p>
<p>Hero Biography: <%= member["bio"] %></p>
<% end %>
